* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100%;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
  max-width: 100%;
}
.outer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  height: 635px;
  box-sizing: border-box;
}
.internal-wrapper-1 {
  width: 12%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.internal-wrapper-2 {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.internal-wrapper-3 {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 40px;
  margin: 50px auto;
}
.top-box,
.bottom-box {
  margin: 20px auto;
  height: 130px;
  width: 88px;
  position: relative;
  top: 36px;
  background-color: #d9d9d9;
}
.banner-container {
  display: flex;

  margin: 75px 48px;
  height: 540px;
  position: relative;
  top: -23px;
  background-image: url(Images/gradient-img.svg);
  background-repeat: no-repeat;
  background-size: 104% 175%;
  align-items: center;
  background-color: #d9d9d9;
  flex-direction: column;
}
.middle-img img {
  width: 100%;
  position: relative;
  left: 2px;
  top: -7px;
  z-index: 1;
}
.grad-img img {
  position: relative;
  top: -104px;

  opacity: 0.5;
}
.grad-size img {
  position: relative;

  top: -90px;
  width: 100%;
  z-index: 1;
}
#front-img {
  display: none;
}
.small-grad {
  position: relative;
  top: 70px;
}
.upper-section {
  position: relative;
  top: -12px;
}
.trade-mark {
  position: relative;
  top: 18px;
  color: #223ef2;
  font-weight: 800;
}
.txt-wrapper p {
  font-size: 16px;
  color: #7c7979;
  font-weight: bold;
}
.txt-wrapper h2 {
  font-size: 40px;
}
.price-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.b-price {
  margin: -41px 0px -11px 9px;
  color: #7c7979;
}
.price-box-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.box-1 {
  text-align: center;
  font-size: 33px;
  font-weight: bolder;
}
.box-2 {
  width: 70px;
  text-align: center;
  margin-left: 41px;
  font-size: 23px;
}
.box-2 p {
  background-color: #9dcbf5;
  color: #0f36f8;
  margin-top: 38px;
}
.lower-section {
  position: relative;
  top: -22px;
}
.tag-wrapper p {
  font-size: 25px;
}
.size-item-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 14px 16px;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  width: 14%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.item-1:hover {
  background-color: white;
  color: black;
}
.item-2:hover,
.item-3:hover,
.item-4:hover,
.item-5:hover {
  background-color: black;
  color: white;
  transition: 0.6s ease-out;
}
.active {
  background-color: black;
  color: white;
}
.add-btn div {
  text-align: center;
  background-color: #240df2;
  font-weight: bold;
  color: white;
  width: 100%;
  margin: 15px auto;
  padding: 1px;
  height: 50px;
}
.add-btn div:hover {
  background-color: #210cdaea;
  border: 1px inset #1703c2;
}
.img-size {
  position: relative;
  top: 2px;
  width: 80%;
  margin: auto;
  z-index: 2;
}
.pay-form {
  display: none;
}
fieldset {
  text-align: center;
  padding: 30px 2px;
  color: dodgerblue;
  background-color: #f3f3f3;
  border-color: dodgerblue;
  border-style: inset;
}
legend {
  padding: 2px 15px;
  font-size: 25px;
  background-color: #f7f5f5;
  border-bottom: 2px inset grey;
  border-right: 2px inset dodgerblue;
  border-top: 2px outset dodgerblue;
  border-left: 2px outset dodgerblue;
}
input {
  border-color: dodgerblue;
}
option {
  color: dodgerblue;
}
.fig-wrapper {
  display: none;
}
.fig-wrapper figure img {
  border: 4px inset dodgerblue;
  border-radius: 100%;
  width: 80%;
  margin: 0 auto;
}
.fig-wrapper figcaption {
  border: 2px outset dodgerblue;
  border-radius: 50px;
  width: 12%;
  text-align: center;
  font-weight: bold;
}
@media only screen and (max-width: 860px) {
  .outer-wrapper {
    flex-direction: column;
  }
  .internal-wrapper-1 {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 20px;
    width: 100%;
  }
  .internal-wrapper-2,
  .internal-wrapper-3 {
    width: 100%;
  }
  .banner-container .middle-img img {
    max-width: 70%;
    margin: 0 auto;
  }
  .top-box .middle-img,
  .bottom-box .middle-img {
    position: relative;
    top: 20px;
  }
  .middle-img img {
    width: 100%;
    position: relative;
    left: 2px;
    top: -30px;
    z-index: 1;
  }
}
